/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_maps.scss";
@import "~bootstrap/scss/_utilities.scss";

$utilities: map-merge(
  $utilities,
  (
    /* Add w-0 */
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (0: 0%),
        ),
      ),
    ),
    /* Add top-hidden */
    "top": map-merge(
      map-get($utilities, "top"),
      (
        values: map-merge(
          map-get(map-get($utilities, "top"), "values"),
          (hidden: -99999px),
        ),
      ),
    ),
  )
);

@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

:root {
    font-size: 14px;
}